body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #000000;
  }
  h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #8b1f1f;
  }
  #captureDate {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
  }
  #captureButton {
  padding: 10px 20px;
  background-color: #007bff; /* Azul claro */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  .task-list {
  list-style: none;
  padding: 0;
  }
  .task {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  }
  .task-text {
  flex-grow: 1;
  margin-right: 10px;
  }
  .buttons {
  display: flex;
  }
  .button {
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  }
  .button.edit-button {
  background-color: #4CAF50; /* Verde */
  color: white;
  }
  .button.complete-button {
  background-color: #2196F3; /* Azul */
  color: white;
  }
  .button.remove-button {
  background-color: #f44336; /* Vermelho */
  color: white;
  }