/* styles.css */:root {
    --cor-fundo: #343838;
    --cor-header: #005f6b;
    --cor-texto: #fff;
    --cor-curso: #00b4cc;
    --cor-footer: #005f6b;

    --fonte-texto: "Courier Prime", monospace;
}


.loading-container {
    text-align: center;
}

.loading-bar {
    width: 80%;
    height: 30px;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.loading-progress {
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, #00b4cc, #fff, #00b4cc, #005f6b);
    background-size: 400% 100%;
    animation: load 5s linear infinite, gradient 5s linear infinite;
}

.loading-text {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}
