

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');




:root {
    --cor-fundo: #343838;
    --cor-header: #005f6b;
    --cor-texto: #fff;
    --cor-curso: #00b4cc;
    --cor-footer: #005f6b;

    --fonte-texto: "Courier Prime", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--cor-fundo);
    color: #333;
}

/* Estilização do header */
.header {
    background-color: var(--cor-header);
    color: var(--cor-texto);
    padding: 20px;
    text-align: center;
}

/* Estilização da barra de navegação */
.menu {
    background-color: var(--cor-header);
    display: flex;
    flex-direction: column;
    align-items: end;


}

.menu-list {
    display: flex;
    justify-content: center;
    padding: 0;
    
}

.menu-list li {
    list-style: none;
}

.menu-link {
    display: flex;
    padding: 10px 20px;
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: bold;
    
}

.menu-link:hover {
    background-color: var(--cor-curso);
    color: var(--cor-header);
    border-radius: 10px;
}

/* Estilização da seção de conteúdo */
.content {
    padding: 20px;
    text-align: center;
    background-color: var(--cor-curso);
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilização do main content */
.main-content {
    padding: 20px;
    background-color: var(--cor-fundo);
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    
}
.titulo {
    font-size: 100px; /* Adiciona a unidade 'px' para o tamanho da fonte */
    text-transform: uppercase;
    background: linear-gradient(45deg, #005f6b, #00b4cc, #fff, #005f6b);
    background-size: 200% 100%;
    animation: degrade 5s linear infinite alternate; /* Corrige a duração da animação */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

@keyframes degrade {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

/* texto */
.contentParagrafo {
    color: var(--cor-texto);
    font-family:var(--fonte-texto);
    width:80%;
    margin: 0 auto;
    font-weight: 500;
    gap: gap-between;

    
 box-shadow: inset 20px 20px 20px var(--cor-footer);

}

/* Estilização dos cards */
.contentCard {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-direction: row-reverse;

}
img {
    height: 800px;
    

}

.contentCard section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}

.final{
    background:var(--cor-fundo);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 35px;
}


@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center; /* Alinha o menu ao centro */
    }

    .titulo {
        font-size: 50px; /* Ajusta o tamanho da fonte para telas menores */
    }

    .main-content {
        flex-direction: column; /* Muda a direção do flex para coluna */
    }

    .contentParagrafo {
        width: 100%; /* Faz o parágrafo ocupar 100% da largura disponível */
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px; /* Reduz o padding da header */
    }

    .menu {
        align-items: center; /* Centraliza os itens do menu */
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
    }

    .menu-link {
        padding: 10px; /* Ajusta o padding dos links do menu */
    }

    .titulo {
        font-size: 40px; /* Ajusta o tamanho da fonte para telas menores */
    }

    .main-content {
        padding: 10px; /* Reduz o padding do conteúdo principal */
    }

    .contentCard {
        flex-direction: column; /* Ajusta os cards para uma coluna */
    }

    img {
        height: auto; /* Ajusta a altura da imagem para auto */
        width: 100%; /* Faz a imagem ocupar 100% da largura disponível */
    }
}
