body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(111, 94, 155);
}

#fieldContainer {
    margin-top: 20px;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.field label {
    margin-right: 10px;
}

.field input[type="text"],
.field input[type="checkbox"] {
    margin-right: 10px;
}

.removeButton {
    padding: 5px 10px;
    background-color: #f44336; /* Vermelho */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}